{% extends 'base.html' %}

{% block title %}My orders{% endblock %}

{% block content %}
<div class="container-fluid my-1 bg-body-tertiary">
    <!-- ... (breadcrumb code) ... -->
</div>

<div class="container mt-4 col-lg-12" id="myOrdersApp">
    <h1 class="display-5 lead text-center mb-3">My orders</h1>
    <div class="d-flex justify-content-around">
        <div class="btn-group col-md-3 mt-3 px-2" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                @click="selectedFilter = 'sevenDays'" checked>
            <label class="btn btn-outline-warning" for="btnradio3">7 Days</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                @click="selectedFilter = 'oneMonth'">
            <label class="btn btn-outline-warning" for="btnradio2">30 Days</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                @click="selectedFilter = 'all'">
            <label class="btn btn-outline-warning" for="btnradio1">All</label>

        </div>

        <div class="btn-group col-md-2 mt-3 px-2" role="group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                [[this.nowBranch]]
            </button>
            <ul class="dropdown-menu" v-for="b in allBranch">
                <li><a class="dropdown-item" href="#" @click="nowBranch = 'All branches'">All branches</a></li>
                <span v-for="b in allBranch">
                    <li><a class="dropdown-item" href="#" @click="nowBranch = b.branchName">[[b.branchName]]</a></li>
                </span>
            </ul>
        </div>
    </div>

    <div class="my-5  row d-flex justify-content-center">

        <div class="card my-3 mx-4 col-md-3 px-0" v-for="order in filteredOrders.slice().reverse()">
            <div class="card-header">
                <p class='h4'>[[new Date(order['orderDate']).toLocaleString('en-US', {
                    year: 'numeric',
                    month: 'short',
                    day: '2-digit',
                    timeZone: 'Pacific/Auckland',
                  })]]</p>
                <p class="mb-0"><strong># [[ order['orderID'] ]] @[[order.branchName]]</strong></p>
                <p class="mb-0">Order time:[[ new Date(order['orderDate']).toLocaleString('en-US', { year: 'numeric',
                    month: '2-digit', day:
                    '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone: 'Pacific/Auckland' })
                    ]]</p>
                <p class="mb-0">Est Finish on: [[ new Date(order['estimatedTime']).toLocaleString('en-US', { year:
                    'numeric', month:
                    '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZone:
                    'Pacific/Auckland' }) ]]</p>
                <p class="mb-0"><strong>[[order.deliveryOption]]</strong></p>
                <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0"><mark>[[order.orderStatus]]</mark></p>
               </div>
               <hr class="my-1">
               
              
            </div>
            <div class="card-body">
                <!-- Display each food item and its price -->
                <a class="btn btn-outline-warning px-4 my-1" :href="'/customer/trackOrder/' + order.orderID">Track the order</a>
                <button type="button" class="btn btn-outline-dark px-4 my-1" data-bs-toggle="modal"
                    :data-bs-target="'#detailOrder' + order['orderID']">Details</button>
                <a class="btn btn-warning px-4 my-1 "
                    @click="reOrder(parseOrderJSON(order.orderJSON), order.branchID)">Reorder now!</a>

                <div class="modal fade modal-dialog-scrollable" :id="'detailOrder' + order['orderID']" tabindex="-1" aria-labelledby="orderID"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5">Order Details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p class="my-1 h5">Food</p>
                                <div v-for="item in parseOrderJSON(order.orderJSON)" :key="item.id" class=" my-1">
                                    <p class="m-0">[[ item.name || 'None' ]] x [[ item.number || 'None'
                                            ]]</p>
                                    <ul class="mb-0 pl-3">
                                        <span class="m-0" v-if="item.size && item.size.label"><li>[[ item.size.label ]]</li></span>
                                        <span class="m-0" v-if="item.toppings">
                                            <span v-for="i in item.toppings" class="m-0">
                                            <span v-if="i.quantity > 0"><li>[[ i.name
                                                ]] x [[ i.quantity
                                                ]] </li></span></span></span>
                                    </ul>

                                </div>
                                <hr class="my-3">

                                <p class="my-1 h5">Special Requests</p>
                                <p class="my-1" v-if="order.specialRequests">[[order.specialRequests]]</p>
                                <p class="my-1" v-else>N/A</p>

                                <hr class="my-3">
                                <p class="m-0 h3">PAID</p>

                                <p class="m-0 h3"><strong>$[[order.totalAmount]]</strong></p>
                                <p class="m-0">by [[order.paymentMethod]]</p>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>



    <div class="alert alert-info" role="alert" v-if="filteredOrders.length === 0">
        No orders at the moment.
    </div>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


<script>
    var allOrders = [];
    {% if allOrders %}
    allOrders = {{ allOrders | tojson | safe }};

    {% endif %}

    var allBranch = [];

    {% if allBranch %}
    allBranch = {{ allBranch | tojson | safe }};

    {% endif %}

    function sortOrdersByOrderID(orders) {
        return orders.sort((a, b) => {
            const orderIDA = parseInt(a.orderID);
            const orderIDB = parseInt(b.orderID);

            if (orderIDA < orderIDB) {
                return -1;
            } else if (orderIDA > orderIDB) {
                return 1;
            } else {
                return 0;
            }
        });
    }

    const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        data() {
            return {
                allOrders: allOrders,
                item: {},
                selectedFilter: 'sevenDays',
                nowBranch: 'All branches',
                allBranch: allBranch
            };
        },
        computed: {
            filteredOrders() {
                var dateFilteredOrder;
                if (this.selectedFilter === 'all') {
                    dateFilteredOrder = this.allOrders;
                } else if (this.selectedFilter === 'oneMonth') {
                    const oneMonthAgo = new Date();
                    oneMonthAgo.setMonth(oneMonthAgo.getMonth() - 1);
                    dateFilteredOrder = this.allOrders.filter(order => new Date(order.orderDate) >= oneMonthAgo);
                } else if (this.selectedFilter === 'sevenDays') {
                    const sevenDaysAgo = new Date();
                    sevenDaysAgo.setDate(sevenDaysAgo.getDate() - 7);
                    dateFilteredOrder = this.allOrders.filter(order => new Date(order.orderDate) >= sevenDaysAgo);
                }

                if (this.nowBranch === 'All branches') {
                    return dateFilteredOrder;
                } else {
                    const filteredByBranch = dateFilteredOrder.filter(order => order.branchName === this.nowBranch);
                    return filteredByBranch;
                }
            }

        }, methods: {
            parseOrderJSON(orderJSON) {
                try {
                    const parsedJSON = JSON.parse(orderJSON);
                    return Array.isArray(parsedJSON) ? parsedJSON : [parsedJSON];
                } catch (error) {
                    console.error('Error parsing orderJSON:', error);
                    return [];
                }
            },
            reOrder(order, branchID) {

                axios.post('/customer/reorder', { orderData: order, branchID: branchID })
                    .then(response => {
                        window.location.href = '/menu';
                    })
                    .catch(error => {
                        console.error('Reorder failed:', error);
                    });
            }
        }, watch: {
            selectedFilter(newValue) {


            }
        }

    });

    const vm = app.mount('#myOrdersApp');
</script>





{% endblock %}